

html { 
    background:  url("../img/background.gif") no-repeat center center fixed; 
    background-size: cover;
}



body{

    margin-top: 10%;

}


.pp{

    border-radius: 50%;
    border-color: brown;
    box-shadow: 0px 0px 15px #000000;

}

.title{

    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    color: white;
    text-shadow: 0px 0px 15px #000000;

}


.link a{

    color: white;
    margin-top: -20px;
    display: inline-block;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    transition: 0.3s linear;

}

.link a:hover{
    transform: scale(2);
}

.copy{

    font-family: 'Bebas Neue', cursive;
    font-weight: lighter;
    color: white;
    text-shadow: 0px 0px 15px #000000;
    font-size: 10px;

}
